* {
  user-select: none;
  font-weight: 100;
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

.hand {
  cursor: pointer;
}

.light {
  font-weight: 100;
}

.hbg:hover {
  background-color: #d3d3d33b;
}

.tabularnums {
  font-variant-numeric: tabular-nums;
  width: 25px;
}

#loading {
  animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.541);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* AudioPlayer CSS*/

.bannerblur {
  filter: blur(5px);
  /* box-shadow: 0px 0px 0px 20px black; */
}

.progressstyle {
  padding: 2px 0 2px 0;
  height: 6px;
  background-color: #ffffff1a !important;
}

/* ------------------------------------------ */

/* SideNav CSS*/

.sidenav {
  position: relative;
  background: #f1f1f1;
  -webkit-transition: width 0.25s; /* For Safari 3.1 to 6.0 */
  transition: width 0.25s;
}

.overlapsidenav {
  position: absolute;
  z-index: 1021;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0px;
  overflow: hidden;
}

.opennav {
  width: 250px;
  overflow: hidden;
}

.closenav {
  width: 0px;
  overflow: hidden;
}

a.nav-item {
  color: black;
  padding-left: 5px;
}

a.nav-item:hover,
div.clickable:hover {
  color: black;
  background-color: lightgrey;
  text-decoration: none;
}

.menu {
  border-radius: 50px;
}

.menu:hover {
  background-color: lightgray;
}

/* .active {
  border-left: black;
  border-width: 5px;
  border-style: solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding-left: 0px !important;
} */

/* ------------------------------------------*/

/*Tabs */

.tab-active {
  border-bottom: 2px solid;
  font-weight: 500;
}

/* ------------------------------------------*/

/* SongListItem */
#songlistitem:hover {
  background-color: #dcdcdc73;
}
/* -------------------------------------------*/
.filled {
  width: 40px;
  transition: all 0.25s;
}

/* AddFilled and Playfilled Svg Images */
.filled:hover {
  height: 70px;
  width: 70px;
}

/* -------------------------------------------*/
